Repository hnjae/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, just-fmt, shellharden, shellcheck, shfmt, fish-indent, yamlfix, taplo, biome, markdownlint

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

just-fmt:
  name: just format
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

shellharden:
  name: shellharden
  entry: shellharden --replace
  language: system

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

shfmt:
  name: shfmt
  entry: shfmt --indent 2 --simplify --write
  language: system

fish-indent:
  name: fish_indent
  entry: fish_indent --write
  language: system

yamlfix:
  name: yamlfix
  entry: yamlfix
  language: system

taplo:
  name: taplo format
  entry: taplo format
  language: system

biome:
  name: biome format
  entry: biome format --write
  language: system

markdownlint:
  name: markdownlint-cli2
  entry: markdownlint-cli2 --fix
  language: system

feat(templates): add crane-flake-parts-example template
  templates/crane-flake-parts-example/.envrc
  templates/crane-flake-parts-example/.gitignore
  templates/crane-flake-parts-example/.rustfmt.toml
  templates/crane-flake-parts-example/Cargo.lock
  templates/crane-flake-parts-example/Cargo.toml
  templates/crane-flake-parts-example/LICENSE
  templates/crane-flake-parts-example/README.md
  templates/crane-flake-parts-example/flake-module.nix
  templates/crane-flake-parts-example/flake.lock
  templates/crane-flake-parts-example/flake.nix
  templates/crane-flake-parts-example/justfile
  templates/crane-flake-parts-example/src/main.rs
  templates/flake-module.nix
Due: nixfmt, just-fmt, shellharden, shellcheck, shfmt, taplo, markdownlint

refactor(templates): rename templates
  templates/configurations/flake.nix
  templates/configurations/justfile
  templates/devshell-flake-parts/.editorconfig
  templates/devshell-flake-parts/.envrc
  templates/devshell-flake-parts/.gitignore
  templates/devshell-flake-parts/default.nix
  templates/devshell-flake-parts/derivation.nix
  templates/devshell-flake-parts/flake.nix
  templates/devshell-git-hooks (WIP)/.editorconfig
  templates/devshell-git-hooks (WIP)/.envrc
  templates/devshell-git-hooks (WIP)/flake.nix
  templates/devshell-git-hooks (WIP)/gitignore-samples
  templates/devshell-minimal-deps/flake.nix
  templates/flake-module.nix
Due: nixfmt, just-fmt, shellharden, shellcheck, shfmt

feat(package-sets): remove packages
  profiles/package-sets/sets/user-dev.nix
Due: nixfmt

isis: 2025-12-30T20:42:42+09:00
  .pre-commit-config.yaml
  templates/crane-flake-parts-example/.pre-commit-config.yaml
  templates/crane-flake-parts-example/flake-module.nix
  templates/crane-flake-parts-example/justfile
  templates/crane-flake-parts-example/nixos-module.nix
Due: nixfmt, just-fmt, yamlfix

isis: 2025-12-30T22:04:29+09:00
  .pre-commit-config.yaml
  templates/crane-flake-parts-example/.editorconfig
  templates/crane-flake-parts-example/.markdownlint.jsonc
  templates/crane-flake-parts-example/.pre-commit-config.yaml
  templates/crane-flake-parts-example/CLAUDE.md
Due: yamlfix, biome, markdownlint

feat(mpv): update profiles and key bindings
  hm-modules/mpv/default.nix
Due: nixfmt

isis: 2025-12-31T15:23:07+09:00
  .pre-commit-config.yaml
  hosts/eris/serve-encrypted/applications/_todo/dawarich/default.nix
  hosts/eris/serve-encrypted/applications/_todo/gitea/default.nix
  hosts/eris/serve-encrypted/applications/_todo/home-assistant/default.nix
  hosts/eris/serve-encrypted/applications/_todo/immichi/default.nix
  hosts/eris/serve-encrypted/applications/_todo/paperless/default.nix
  hosts/eris/serve-encrypted/applications/_todo/perplexica/default.nix
  hosts/eris/serve-encrypted/applications/_todo/steirling-pdf/default.nix
Due: yamlfix

chore(wincompat-rename): add pre-commit config with cargo fmt hook
  apps/wincompat-rename/.pre-commit-config.yaml
Due: yamlfix

feat(eris): update plocate-related config
  hosts/eris/hardware/disk-config.nix
  hosts/eris/services/plocate.nix
Due: nixfmt

isis: 2025-12-31T15:59:00+09:00
  .pre-commit-config.yaml
  apps/wincompat-rename/.pre-commit-config.yaml
  apps/wincompat-rename/src/fs_utils.rs
  apps/wincompat-rename/src/safety.rs
  apps/wincompat-rename/src/walker.rs
  flake.nix
  templates/crane-flake-parts-example/.markdownlint.jsonc
  templates/crane-flake-parts-example/.pre-commit-config.yaml
Due: nixfmt, yamlfix, biome

isis: 2025-12-31T16:13:36+09:00
  flake.nix
  hosts/eris/services/plocate.nix
  nixos-modules/autoaspm/.pre-commit-config.yaml
  nixos-modules/autoaspm/flake-module.nix
  nixos-modules/autoaspm/os-module.nix
  nixos-modules/nixos-gc/.pre-commit-config.yaml
Due: nixfmt, yamlfix

feat(eris): enable secureboot
  hosts/README.md
  hosts/eris/hardware/bootloader.nix
Due: nixfmt, markdownlint

isis: 2025-12-31T20:25:43+09:00
  hosts/README.md
  hosts/eris/hardware/bootloader.nix
  hosts/eris/serve-encrypted/default.nix
Due: nixfmt, markdownlint

isis: 2025-12-31T20:29:05+09:00
  hm-modules/mpv/default.nix
  hosts/osiris/hardware/power.nix
Due: nixfmt

build: update flake.lock
  flake.lock
Due: none

isis: 2025-12-31T21:50:19+09:00
  hosts/eris/serve-encrypted/applications/argonautai/default.nix
  hosts/eris/serve-encrypted/applications/argonautai/secrets/env
  hosts/eris/serve-encrypted/default.nix
  nixos-modules/nixos-gc/nixos_gc.py
  profiles/package-sets/sets/user.nix
Due: nixfmt

feat(base-nixos): replace podman-image-prune with nixpkgs's module
  profiles/base-nixos/config/containers.nix
  profiles/base-nixos/services/default.nix
  profiles/base-nixos/services/podman-image-prune.nix
Due: nixfmt

isis: 2025-12-31T23:28:47+09:00
  hosts/eris/serve-encrypted/applications/argonautai/default.nix
  hosts/eris/serve-encrypted/applications/argonautai/secrets/env
Due: none

feat(eris): add snapper config
  hosts/eris/hardware/disk-config.nix
  statix.toml
Due: nixfmt, taplo

feat(eris): add btrfs scrub speed limiter service
  hosts/eris/services/btrfs-scrub-limit.nix
  hosts/eris/services/default.nix
  hosts/eris/timers/btrfs-maintenance.nix
Due: nixfmt

feat(eris): split btrfs maintenance into balance and scrub
  hosts/eris/timers/btrfs-balance.nix
  hosts/eris/timers/btrfs-maintenance.nix
  hosts/eris/timers/btrfs-scrub.nix
  hosts/eris/timers/default.nix
Due: nixfmt

refactor(eris): extract snapper timer config to separate module
  hosts/eris/hardware/disk-config.nix
  hosts/eris/services/default.nix
  hosts/eris/services/snapper.nix
Due: nixfmt

feat(eris): expand snapper snapshot config
  hosts/eris/hardware/disk-config.nix
Due: nixfmt

build(flake.nix): add carne as inputs
  flake.lock
  flake.nix
Due: nixfmt

fix(templates): correct misaligned example project name in templates
  templates/crane-flake-parts-example/CLAUDE.md
  templates/crane-flake-parts-example/justfile
Due: just-fmt, markdownlint

feat(rustic-btrfs): initial commit using templates
  nixos-modules/flake-module.nix
  nixos-modules/rustic-btrfs/.editorconfig
  nixos-modules/rustic-btrfs/.envrc
  nixos-modules/rustic-btrfs/.gitignore
  nixos-modules/rustic-btrfs/.pre-commit-config.yaml
  nixos-modules/rustic-btrfs/.rustfmt.toml
  nixos-modules/rustic-btrfs/CLAUDE.md
  nixos-modules/rustic-btrfs/Cargo.lock
  nixos-modules/rustic-btrfs/Cargo.toml
  nixos-modules/rustic-btrfs/flake-module.nix
  nixos-modules/rustic-btrfs/justfile
  nixos-modules/rustic-btrfs/nixos-module.nix
  nixos-modules/rustic-btrfs/src/main.rs
Due: nixfmt, just-fmt, shellharden, shellcheck, shfmt, yamlfix, taplo, markdownlint

feat(rustic-btrfs): add initial SPEC.md
  nixos-modules/rustic-btrfs/SPEC.md
Due: markdownlint

feat(rustic-btrfs): add project dependencies to Cargo.toml
  nixos-modules/rustic-btrfs/Cargo.toml
Due: taplo

feat(rustic-btrfs): add build.rs with bindgen for libbtrfsutil
  nixos-modules/rustic-btrfs/build.rs
Due: none

feat(rustic-btrfs): define BtrfsOps and BackupOps traits
  nixos-modules/rustic-btrfs/src/main.rs
  nixos-modules/rustic-btrfs/src/traits.rs
Due: none

feat(rustic-btrfs): add btrfs module with LibBtrfs struct
  nixos-modules/rustic-btrfs/Cargo.lock
  nixos-modules/rustic-btrfs/build.rs
  nixos-modules/rustic-btrfs/src/btrfs.rs
  nixos-modules/rustic-btrfs/src/main.rs
Due: none

feat(rustic-btrfs): add lock module for concurrent backup prevention
  nixos-modules/rustic-btrfs/src/lock.rs
  nixos-modules/rustic-btrfs/src/main.rs
Due: none

feat(rustic-btrfs): add mock implementations for testing
  nixos-modules/rustic-btrfs/src/main.rs
  nixos-modules/rustic-btrfs/src/mocks.rs
Due: none

feat(rustic-btrfs): implement libbtrfsutil FFI bindings
  nixos-modules/rustic-btrfs/src/btrfs.rs
Due: none

feat(rustic-btrfs): add backup module with RusticBackup struct
  nixos-modules/rustic-btrfs/src/backup.rs
  nixos-modules/rustic-btrfs/src/main.rs
Due: none

feat(rustic-btrfs): add comprehensive CLI with clap
  nixos-modules/rustic-btrfs/src/cli.rs
  nixos-modules/rustic-btrfs/src/main.rs
Due: none

feat(rustic-btrfs): integrate CLI with main function
  nixos-modules/rustic-btrfs/src/main.rs
Due: none

build(flake-module.nix): add libclang and libbtrfsutil for tests
  nixos-modules/rustic-btrfs/flake-module.nix
Due: nixfmt

build(flake-module.nix): add rclone and postInstall for completions
  nixos-modules/rustic-btrfs/flake-module.nix
Due: nixfmt

chore(rustic-btrfs): add LIBCLANG_PATH to devshell
  nixos-modules/rustic-btrfs/flake-module.nix
Due: nixfmt

Path conditions:
  nixfmt: any of: \.nix$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  fish-indent: any of: \.fish$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  yamlfix: any of: \.yaml$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  taplo: any of: \.toml$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  markdownlint: any of: \.md$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

