Repository hnjae/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, nixfmt, just-fmt, yamlfix, taplo, biome, markdownlint

.pre-commit-config.yaml:

---
# See: https://pre-commit.com/
exclude: |
  (?x)^(
    \.git/|
    \.git-crypt/.*|
    \.gitattributes|
    \.gitignore|
    .*/\.gitignore|
    .*/_todo/.*|
    .*-encrypted/.*|
    .*-encrypted\..*|
    .*/secrets/.*|
    \.editorconfig|
    .*/\.editorconfig|
    LICENSE|
    .*\.nu|
    .*/completions/_.*|
    flake\.lock|
    .*/Cargo\.lock|
    .*/uv\.lock|
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
        fail_fast: true
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: check-xml
  - repo: local
    hooks:
      - id: shellharden
        name: shellharden
        entry: shellharden --replace
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
      - id: shfmt
        name: shfmt
        entry: shfmt --indent 2 --simplify --write
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        types: [nix]
      - id: just-fmt
        name: just format
        entry: bash -c 'just --fmt --unstable --justfile "$1"' --
        language: system
        files: (^|/)(\.)?justfile$
      - id: fish-indent
        name: fish_indent
        entry: fish_indent --write
        language: system
        types: [fish]
      - id: yamlfix
        name: yamlfix
        entry: yamlfix
        language: system
        types: [yaml]
      - id: taplo
        name: taplo format
        entry: taplo format
        language: system
        types: [toml]
      - id: biome
        name: biome format
        entry: biome format --write
        language: system
        files: \.(json|jsonc)$
      - id: markdownlint
        name: markdownlint-cli2
        entry: markdownlint-cli2 --fix
        language: system
        types: [markdown]

chore(rustic-btrfs): add btrfs-progs to devshell
  nixos-modules/rustic-btrfs/flake-module.nix
Due: nixfmt

fix(rustic-btrfs): fix compilation errors for Rust 2024 edition
  nixos-modules/rustic-btrfs/Cargo.lock
  nixos-modules/rustic-btrfs/Cargo.toml
  nixos-modules/rustic-btrfs/src/btrfs.rs
  nixos-modules/rustic-btrfs/src/lock.rs
Due: taplo

feat(rustic-btrfs): add env_logger integration with systemd detection
  nixos-modules/rustic-btrfs/src/logging.rs
  nixos-modules/rustic-btrfs/src/main.rs
Due: none

feat(rustic-btrfs): add progress reporting with TTY detection
  nixos-modules/rustic-btrfs/src/main.rs
  nixos-modules/rustic-btrfs/src/progress.rs
Due: none

feat(rustic-btrfs): add structured logging at all levels
  nixos-modules/rustic-btrfs/src/backup.rs
  nixos-modules/rustic-btrfs/src/btrfs.rs
  nixos-modules/rustic-btrfs/src/lock.rs
Due: none

feat(rustic-btrfs): improve log format for better readability
  nixos-modules/rustic-btrfs/Cargo.lock
  nixos-modules/rustic-btrfs/Cargo.toml
  nixos-modules/rustic-btrfs/SPEC.md
  nixos-modules/rustic-btrfs/src/logging.rs
Due: taplo, markdownlint

feat(rustic-btrfs): add syslog priority format for systemd
  nixos-modules/rustic-btrfs/SPEC.md
  nixos-modules/rustic-btrfs/src/logging.rs
Due: markdownlint

feat(rustic-btrfs): implement comprehensive error types with exit codes
  nixos-modules/rustic-btrfs/src/backup.rs
  nixos-modules/rustic-btrfs/src/btrfs.rs
  nixos-modules/rustic-btrfs/src/lock.rs
  nixos-modules/rustic-btrfs/src/mocks.rs
  nixos-modules/rustic-btrfs/src/traits.rs
Due: none

feat(rustic-btrfs): implement cleanup guarantees in backup workflow
  nixos-modules/rustic-btrfs/src/main.rs
  nixos-modules/rustic-btrfs/src/mocks.rs
  nixos-modules/rustic-btrfs/src/workflow.rs
Due: none

feat(rustic-btrfs): implement comprehensive NixOS module
  nixos-modules/rustic-btrfs/nixos-module.nix
Due: nixfmt

test(rustic-btrfs): add basic NixOS module test
  nixos-modules/rustic-btrfs/nixos-module-test.nix
Due: nixfmt

feat(rustic-btrfs): integrate workflow into main function
  nixos-modules/rustic-btrfs/build.rs
  nixos-modules/rustic-btrfs/src/main.rs
Due: none

feat(rustic-btrfs): expand BackupConfig and prepare for rustic_core integration
  nixos-modules/rustic-btrfs/src/backup.rs
  nixos-modules/rustic-btrfs/src/main.rs
  nixos-modules/rustic-btrfs/src/mocks.rs
  nixos-modules/rustic-btrfs/src/traits.rs
  nixos-modules/rustic-btrfs/src/workflow.rs
Due: none

chore(rustic-btrfs): add quiet flags to just recipes
  nixos-modules/rustic-btrfs/justfile
Due: just-fmt

feat(rustic-btrfs): integrate rustic_core 0.9.0 backup
  nixos-modules/rustic-btrfs/Cargo.lock
  nixos-modules/rustic-btrfs/Cargo.toml
  nixos-modules/rustic-btrfs/src/backup.rs
Due: taplo

test(rustic-btrfs): add Phase 7 comprehensive test suite
  nixos-modules/rustic-btrfs/Cargo.lock
  nixos-modules/rustic-btrfs/Cargo.toml
  nixos-modules/rustic-btrfs/src/lib.rs
  nixos-modules/rustic-btrfs/tests/lock_test.rs
  nixos-modules/rustic-btrfs/tests/workflow_test.rs
Due: taplo

feat(rustic-btrfs): add NixOS module test to flake checks
  nixos-modules/rustic-btrfs/flake-module.nix
Due: nixfmt

fix(rustic-btrfs): resolve clippy errors and disable overly restrictive lints
  nixos-modules/rustic-btrfs/Cargo.toml
  nixos-modules/rustic-btrfs/build.rs
  nixos-modules/rustic-btrfs/justfile
  nixos-modules/rustic-btrfs/src/backup.rs
  nixos-modules/rustic-btrfs/src/btrfs.rs
  nixos-modules/rustic-btrfs/src/cli.rs
  nixos-modules/rustic-btrfs/src/lock.rs
  nixos-modules/rustic-btrfs/src/logging.rs
  nixos-modules/rustic-btrfs/src/main.rs
  nixos-modules/rustic-btrfs/src/mocks.rs
  nixos-modules/rustic-btrfs/src/progress.rs
  nixos-modules/rustic-btrfs/src/traits.rs
  nixos-modules/rustic-btrfs/src/workflow.rs
Due: just-fmt, taplo

style(rustic-btrfs): run linter autofix and formatter
  nixos-modules/rustic-btrfs/src/backup.rs
  nixos-modules/rustic-btrfs/src/btrfs.rs
  nixos-modules/rustic-btrfs/src/cli.rs
  nixos-modules/rustic-btrfs/src/lock.rs
  nixos-modules/rustic-btrfs/src/logging.rs
  nixos-modules/rustic-btrfs/src/main.rs
  nixos-modules/rustic-btrfs/src/mocks.rs
  nixos-modules/rustic-btrfs/src/progress.rs
  nixos-modules/rustic-btrfs/src/traits.rs
Due: none

fix(rustic-btrfs): disable overly restrictive clippy lints
  nixos-modules/rustic-btrfs/Cargo.toml
Due: taplo

chore(rustic-btrfs): reorganize clippy lints configuration
  nixos-modules/rustic-btrfs/Cargo.toml
Due: taplo

fix(rustic-btrfs): resolve all remaining clippy warnings
  nixos-modules/rustic-btrfs/src/btrfs.rs
  nixos-modules/rustic-btrfs/src/cli.rs
  nixos-modules/rustic-btrfs/src/lock.rs
  nixos-modules/rustic-btrfs/src/logging.rs
  nixos-modules/rustic-btrfs/src/main.rs
  nixos-modules/rustic-btrfs/src/progress.rs
Due: none

chore(rustic-btrfs): enforce RFC-2383 compliance and suppress dead_code warnings
  nixos-modules/rustic-btrfs/Cargo.toml
  nixos-modules/rustic-btrfs/src/btrfs.rs
  nixos-modules/rustic-btrfs/src/cli.rs
  nixos-modules/rustic-btrfs/src/lock.rs
  nixos-modules/rustic-btrfs/src/progress.rs
  nixos-modules/rustic-btrfs/src/traits.rs
Due: taplo

chore(rustic-btrfs): add clippy configuration file
  nixos-modules/rustic-btrfs/.clippy.toml
  nixos-modules/rustic-btrfs/Cargo.toml
Due: taplo

osiris: 2026-01-03T20:05:18+09:00
  flake.lock
  hm-modules/mpv/default.nix
  hosts/eris/hardware/bootloader.nix
  hosts/eris/hardware/disk-config.nix
  hosts/eris/services/plocate.nix
  profiles/package-sets/sets/user.nix
Due: nixfmt

fix(eris): enable ACL on root filesystem
  hosts/eris/hardware/disk-config.nix
Due: nixfmt

fix(eris/ha-esp): correct WantedBy configuration
  hosts/eris/hardware/ha-esp.nix
Due: nixfmt

feat(eris): add scrutiny applications to monitor drives
  hosts/eris/serve-encrypted/applications/scrutiny/default.nix
  hosts/eris/serve-encrypted/default.nix
Due: none

osiris: 2026-01-03T20:06:47+09:00
  hosts/eris/hardware/disk-config.nix
Due: nixfmt

fix(rustic-btrfs): resolve compiler warnings and improve build configuration
  nixos-modules/rustic-btrfs/Cargo.lock
  nixos-modules/rustic-btrfs/Cargo.toml
  nixos-modules/rustic-btrfs/build.rs
  nixos-modules/rustic-btrfs/src/cli.rs
  nixos-modules/rustic-btrfs/src/lock.rs
  nixos-modules/rustic-btrfs/src/mocks.rs
  nixos-modules/rustic-btrfs/src/progress.rs
  nixos-modules/rustic-btrfs/src/traits.rs
  nixos-modules/rustic-btrfs/tests/lock_test.rs
Due: taplo

chore(rustic-btrfs): separate cargo and nix build commands
  nixos-modules/rustic-btrfs/CLAUDE.md
  nixos-modules/rustic-btrfs/justfile
Due: just-fmt, markdownlint

docs(rustic-btrfs): enforce use of Nix develop environment for builds
  nixos-modules/rustic-btrfs/CLAUDE.md
Due: markdownlint

refactor(rustic-btrfs): use Nix develop environment for tests
  nixos-modules/rustic-btrfs/CLAUDE.md
  nixos-modules/rustic-btrfs/justfile
Due: just-fmt, markdownlint

fix(justfile): add project flake output to develop commands
  nixos-modules/rustic-btrfs/justfile
Due: just-fmt

fix(rustic-btrfs): resolve libbtrfsutil linker error
  nixos-modules/rustic-btrfs/Cargo.toml
  nixos-modules/rustic-btrfs/build.rs
  nixos-modules/rustic-btrfs/flake-module.nix
  nixos-modules/rustic-btrfs/src/main.rs
Due: nixfmt, taplo

chore(rustic-btrfs): add allow-print-in-tests configuration to clippy
  nixos-modules/rustic-btrfs/.clippy.toml
Due: taplo

chore(rustic-btrfs): run integration tests within nix devShell
  nixos-modules/rustic-btrfs/justfile
Due: just-fmt

--wip-- [skip ci]
  hosts/eris/services/autoaspm.nix
  hosts/iso/flake-module.nix
  profiles/base-nixos/config/nix.nix
Due: nixfmt

fix(rustic-btrfs): track snapshot creation history in MockBtrfs
  nixos-modules/rustic-btrfs/src/mocks.rs
Due: none

chore(rustic-btrfs): add regex dev-dependency for UUID validation
  nixos-modules/rustic-btrfs/Cargo.toml
Due: taplo
