Repository hnjae/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, nixfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: shellharden
  entry: shellharden --replace
  language: system

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

shfmt:
  name: shfmt
  entry: shfmt --indent 2 --simplify --write
  language: system

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

just-fmt:
  name: just format
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: yamlfix
  entry: yamlfix
  language: system

taplo:
  name: taplo format
  entry: taplo format
  language: system

biome:
  name: biome format
  entry: biome format --write
  language: system

markdownlint:
  name: markdownlint-cli2
  entry: markdownlint-cli2 --fix
  language: system

feat(nixvim): add snacks explorer configuration
  apps/nixvim/nixvim-module/default.nix
  apps/nixvim/nixvim-module/snacks-explorer.nix
Due: nixfmt

feat(nixvim): set colorscheme to catppuccin
  apps/nixvim/nixvim-module/_not-in-use/colorscheme.nix
  apps/nixvim/nixvim-module/colorscheme.nix
  apps/nixvim/nixvim-module/default.nix
  apps/nixvim/nixvim-module/ui.nix
Due: nixfmt

feat(nixvim): add bufferline plugin support
  apps/nixvim/nixvim-module/_todo/get-root.lua
  apps/nixvim/nixvim-module/ui.nix
Due: nixfmt

feat(nvim): add luasnip module, load snippets from dotfiles
  apps/nixvim/nixvim-module/cmp.nix
  apps/nixvim/nixvim-module/default.nix
  apps/nixvim/nixvim-module/load-dotfiles.nix
  apps/nixvim/nixvim-module/luasnip.nix
Due: nixfmt

build: update flake.lock
  flake.lock
  flake.nix
Due: nixfmt

feat(eris): add /home mount with btrfs subvolume
  hosts/eris/hardware/disk-config.nix
Due: nixfmt

feat(eris/snapper): update snapshot retention policies
  hosts/eris/hardware/disk-config.nix
Due: nixfmt

fix(eris): fix scrutiny
  hosts/eris/serve-encrypted/applications/scrutiny/default.nix
Due: none

isis: 2026-01-10T22:01:48+09:00
  hosts/eris/services/snapper.nix
Due: nixfmt

isis: 2026-01-10T22:30:30+09:00
  hosts/eris/serve-encrypted/applications/argonautai/default.nix
  hosts/eris/serve-encrypted/applications/argonautai/medeia/default.nix
  hosts/eris/serve-encrypted/applications/argonautai/secrets/env
Due: none

feat: adjust nix build settings (cores and max-jobs)
  hosts/eris/hardware/cpu.nix
  hosts/isis/hardware/cpu/default.nix
  hosts/osiris/hardware/cpu.nix
  profiles/base-nixos/config/nix.nix
Due: nixfmt

feat: update package lists
  apps/nixvim/flake-module.nix
  apps/nixvim/justfile
  profiles/package-sets/sets/system.nix
  profiles/package-sets/sets/user-desktop-nixos.nix
  profiles/package-sets/sets/user-dev.nix
  profiles/package-sets/sets/user.nix
Due: nixfmt, just-fmt

build(flake): pin nixpkgs-unstable for buildability
  flake.lock
  flake.nix
Due: nixfmt

isis: 2026-01-11T19:50:25+09:00
  profiles/base-nixos/config/nix.nix
  profiles/base-nixos/config/users.nix
Due: nixfmt

isis: 2026-01-11T19:40:38+09:00
  .editorconfig
  .pre-commit-config.yaml
  hosts/isis/hardware/fstab.nix
  hosts/osiris/hardware/disk-config.nix
Due: nixfmt, yamlfix

refactor(nix): replace nixfmt-rfc-style with nixfmt (which is the same)
  flake.nix
  profiles/package-sets/sets/user-dev.nix
  templates/devshell-flake-parts/flake.nix
  templates/devshell-git-hooks (WIP)/flake.nix
  templates/devshell/flake.nix
Due: nixfmt

docs(README): improve nixpkgs update instructions with hydra-check
  README.md
Due: markdownlint

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  nixfmt: any of: \.nix$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  taplo: any of: \.toml$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

