Repository hnjae/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, nixfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: shellharden
  entry: shellharden --replace
  language: system

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

shfmt:
  name: shfmt
  entry: shfmt --indent 2 --simplify --write
  language: system

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

just-fmt:
  name: just format
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: yamlfix
  entry: yamlfix
  language: system

taplo:
  name: taplo format
  entry: taplo format
  language: system

biome:
  name: biome format
  entry: biome format --write
  language: system

markdownlint:
  name: markdownlint-cli2
  entry: markdownlint-cli2 --fix
  language: system

test(rustic-btrfs): add real Btrfs integration tests
  nixos-modules/rustic-btrfs/Cargo.lock
  nixos-modules/rustic-btrfs/tests/btrfs_real_test.rs
Due: none

chore(rustic-btrfs): add test-btrfs-real justfile command
  nixos-modules/rustic-btrfs/justfile
Due: just-fmt

docs(rustic-btrfs): document real Btrfs integration tests
  nixos-modules/rustic-btrfs/SPEC.md
Due: markdownlint

--wip-- [skip ci]
  nixos-modules/rustic-btrfs/prompt.txt
Due: none

isis: 2026-01-04T13:11:30+09:00
  hosts/eris/hardware/disk-config.nix
  hosts/eris/services/autoaspm.nix
  hosts/eris/services/snapper.nix
Due: nixfmt

build: update flake.lock
  flake.lock
  flake.nix
Due: nixfmt

feat(eris/ha-esp): add error handling
  hosts/eris/hardware/ha-esp.nix
Due: nixfmt

feat: replace wezterm with alacritty in desktop entry
  hosts/isis/hardware/gpu.nix
  hosts/osiris/hardware/gpu.nix
  packages/tools/xdg-terminal-exec/derivation.nix
  profiles/package-sets/sets/system.nix
  profiles/package-sets/sets/user-desktop-nixos.nix
  profiles/package-sets/sets/user-desktop.nix
  profiles/package-sets/sets/user-dev.nix
  profiles/package-sets/sets/user.nix
Due: nixfmt

refactor(package-sets): refactor and add more icon-fix derivations
  profiles/base-nixos/role/desktop/libvirtd.nix
  profiles/package-sets/sets/system.nix
  profiles/package-sets/sets/user-desktop-nixos.nix
  profiles/package-sets/sets/user-desktop.nix
  profiles/package-sets/sets/user.nix
Due: nixfmt

feat(base-nixos): configure nix registry and NIX_PATH to point flake inputs
  hosts/iso/flake-module.nix
  profiles/base-nixos/config/nix.nix
Due: nixfmt

osiris: 2026-01-06T16:41:45+09:00
  profiles/base-nixos/config/nix.nix
Due: nixfmt

osiris: 2026-01-06T17:17:07+09:00
  nixos-modules/nix-store-gc/default.nix
Due: nixfmt

feat(package-sets): add inotify-tools to system packages
  profiles/package-sets/sets/system.nix
Due: nixfmt

feat(eris): add NFS server configuration
  hosts/eris/serve-encrypted/default.nix
  hosts/eris/services/default.nix
  hosts/eris/services/nfs.nix
Due: nixfmt

feat(base-nixos): move kdiskmark to system packages
  profiles/base-nixos/config/packages.nix
  profiles/package-sets/sets/user-desktop-nixos.nix
Due: nixfmt

feat(eris): configure storage-pool pink
  hosts/eris/serve-encrypted/storage-pools/_todo/pink/default.nix
  hosts/eris/serve-encrypted/storage-pools/_todo/pink/services/trash-empty.nix
  hosts/eris/serve-encrypted/storage-pools/pink/default.nix
  hosts/eris/serve-encrypted/storage-pools/pink/services/trash-empty.nix
  hosts/eris/serve-encrypted/storage-pools/pink/shared/default.nix
Due: none

build(flake): refactor inputs and update dependencies
  flake.lock
  flake.nix
  profiles/base-nixos/config/nix.nix
  profiles/base-nixos/flake-module.nix
Due: nixfmt

build: update flake.lock
  flake.lock
Due: none

osiris: 2026-01-06T23:52:20+09:00
  biome.json
Due: biome

feat(eris): deploy medeia
  hosts/eris/serve-encrypted/applications/argonautai/default.nix
  hosts/eris/serve-encrypted/applications/argonautai/medeia/default.nix
  hosts/eris/serve-encrypted/applications/argonautai/medeia/secrets/env
  hosts/eris/serve-encrypted/applications/argonautai/secrets/env
Due: none

feat(eris): deploy iason
  hosts/eris/serve-encrypted/applications/argonautai/default.nix
  hosts/eris/serve-encrypted/applications/argonautai/iason/container-image/README.md
  hosts/eris/serve-encrypted/applications/argonautai/iason/container-image/default.nix
  hosts/eris/serve-encrypted/applications/argonautai/iason/container-image/justfile
  hosts/eris/serve-encrypted/applications/argonautai/iason/default.nix
  hosts/eris/serve-encrypted/applications/argonautai/shared/default.nix
Due: none

isis: 2026-01-07T23:50:09+09:00
  hosts/eris/serve-encrypted/applications/argonautai/default.nix
  hosts/eris/serve-encrypted/applications/argonautai/shared/default.nix
  hosts/eris/services/nfs.nix
Due: nixfmt

feat(eris): add plocate related updates
  hosts/eris/serve-encrypted/modules/zfs-pools.nix
  hosts/eris/services/plocate.nix
Due: nixfmt

refactor(eris/zfs-pools): update service naming and script generation
  hosts/eris/serve-encrypted/modules/zfs-pools.nix
Due: none

isis: 2026-01-08T21:00:16+09:00
  hosts/eris/hardware/disk-config.nix
  hosts/eris/serve-encrypted/storage-pools/pink/default.nix
  hosts/eris/serve-encrypted/storage-pools/pink/timers/fstrim.nix
  hosts/eris/serve-encrypted/storage-pools/pink/timers/trash-empty.nix
  hosts/eris/timers/_todo/zfs-maintenance.nix
  hosts/eris/timers/btrfs-balance.nix
  hosts/eris/timers/btrfs-scrub.nix
  hosts/eris/timers/fstrim.nix
Due: nixfmt

feat(eris): add green storage pool with snapper backup
  hosts/eris/serve-encrypted/default.nix
  hosts/eris/serve-encrypted/storage-pools/green/default.nix
  hosts/eris/serve-encrypted/storage-pools/green/shared/default.nix
  hosts/eris/serve-encrypted/storage-pools/green/timers/snapper-backup-eris.nix
  hosts/eris/services/snapper.nix
Due: nixfmt

osiris: 2026-01-09T00:28:27+09:00
  hosts/eris/serve-encrypted/default.nix
  hosts/eris/serve-encrypted/storage-pools/blue/default.nix
  hosts/eris/serve-encrypted/storage-pools/yellow/default.nix
  hosts/eris/serve-encrypted/storage-pools/yellow/shared/default.nix
Due: none

refactor(nixvim): rename config directory to nixvim-module
  apps/nixvim/flake-module.nix
  apps/nixvim/nixvim-module/cmp.nix
  apps/nixvim/nixvim-module/default.nix
  apps/nixvim/nixvim-module/ftplugin.nix
  apps/nixvim/nixvim-module/lazyvim-keys.nix
  apps/nixvim/nixvim-module/ui.nix
  apps/nixvim/nixvim-module/which-key.nix
  apps/nixvim/nixvim-module/window-picker.nix
Due: nixfmt

build(flake): add dotfiles input
  flake.lock
  flake.nix
Due: nixfmt

feat(nixvim): use ftplugin config from dotfiles
  apps/nixvim/flake-module.nix
  apps/nixvim/nixvim-module/default.nix
  apps/nixvim/nixvim-module/ftplugin.nix
Due: nixfmt

feat(nixvim): add ftdetect module from dotfiles
  apps/nixvim/nixvim-module/default.nix
  apps/nixvim/nixvim-module/ftdetect.nix
Due: nixfmt

feat(nixvim): add syntax module configuration
  apps/nixvim/nixvim-module/default.nix
  apps/nixvim/nixvim-module/syntax.nix
Due: nixfmt

feat(nixvim): support .vim file generation in ftplugin and ftdetect modules
  apps/nixvim/nixvim-module/ftdetect.nix
  apps/nixvim/nixvim-module/ftplugin.nix
Due: nixfmt

feat(nixvim): add spell configuration module
  apps/nixvim/nixvim-module/default.nix
  apps/nixvim/nixvim-module/spell.nix
Due: nixfmt

refactor(nixvim): consolidate dotfile loaders into single module
  apps/nixvim/nixvim-module/default.nix
  apps/nixvim/nixvim-module/ftdetect.nix
  apps/nixvim/nixvim-module/ftplugin.nix
  apps/nixvim/nixvim-module/load-dotfiles.nix
  apps/nixvim/nixvim-module/spell.nix
  apps/nixvim/nixvim-module/syntax.nix
Due: nixfmt

feat(nixvim): add nixosModule for nixvim configuration
  apps/nixvim/flake-module.nix
Due: nixfmt

isis: 2026-01-10T19:11:20+09:00
  apps/nixvim/flake-module.nix
  hosts/iso/flake-module.nix
Due: nixfmt

chore(nixvim): add justfile with check and build recipes
  apps/nixvim/justfile
Due: just-fmt

feat(nixvim): rename app from vi to nixvim
  apps/nixvim/flake-module.nix
Due: nixfmt

chore(nixvim): add run command to justfile
  apps/nixvim/justfile
Due: just-fmt

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  nixfmt: any of: \.nix$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  taplo: any of: \.toml$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  \.git/|
  \.git-crypt/.*|
  \.gitattributes|
  \.gitignore|
  .*/\.gitignore|
  .*/_todo/.*|
  .*-encrypted/.*|
  .*-encrypted\..*|
  .*/secrets/.*|
  \.editorconfig|
  .*/\.editorconfig|
  LICENSE|
  .*\.nu|
  .*/completions/_.*|
  flake\.lock|
  .*/Cargo\.lock|
  .*/uv\.lock|
)$

